<nav class="navbar navbar-expand-md bg-secondary navbar-dark navbar-static-top">

  <div>
    <%= link_to "90 Day Fiance API", root_path, class: 'navbar-brand mb-0 h1' %>
  </div>

<% if user_signed_in? %>
  <ul class="navbar-nav justify-content-end ml-auto">
    <div>
      <button type="button"
              class="btn-sm navbar-toggler navbar-toggler-right"
              data-toggle="collapse"
              data-target="#myNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <li class="nav-item <%= active_if(root_path) %>">
        <%= link_to "Dashboard", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= active_if(panels_index_path) %>">
        <%= link_to "Admin Panel", panels_index_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= 'active' if current_page?(destroy_user_session_path) %>">
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
    </div>
  </ul>
<% else %>
  <ul class="navbar-nav justify-content-end ml-auto">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </ul>
<% end %>
</nav>
